<header>
  <nav class="px-3 navbar navbar-expand-md navbar-dark fixed-top bg-nasa position-static">
    <a class="navbar-brand" routerLink="home">
      <img ngSrc="nasa-curiosity-logo.png" priority width="80" height="29" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mars-gallery">Mars Gallery</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" routerLink="mars-gallery">Libri</a>-->
        <!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0 d-flex">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mx-2 my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<body>
<div class="star"></div>
<div class="meteor-1"></div>
<div class="meteor-2"></div>
<div class="meteor-3"></div>
<div class="meteor-4"></div>
<div class="meteor-5"></div>
<div class="meteor-6"></div>
<div class="meteor-7"></div>
<div class="meteor-8"></div>
<div class="meteor-9"></div>
<div class="meteor-10"></div>
<div class="meteor-11"></div>
<div class="meteor-12"></div>
<div class="meteor-13"></div>
<div class="meteor-14"></div>
<div class="meteor-15"></div>

<div style="padding-left:16px">
  <router-outlet></router-outlet>
</div>
</body>

