<div class="container">
  <h1 class="justify-content-center d-flex text-danger">Astronomy Picture of the Day</h1>
  <div class="card w-100 align-content-center align-items-center border-0 pt-5 bg-transparent">
    @if (apod?.media_type == 'image') {
      <img [src]="apod?.url" width="700" height="auto" alt="">
    }
    @if (apod?.media_type == 'video') {
      <iframe [src]="sanitizedUrl" allowfullscreen width="900" height="600"></iframe>
    }
    <div class="card-body text-white">
      <h5 class="card-title text-center">{{ apod?.title ?? '' }} </h5>
      <p class="card-text text-center">{{ apod?.explanation ?? '' }}</p>
    </div>
  </div>
</div>
