<div class="container justify-content-center align-items-center d-flex mt-5 pe-0">
  <div class="row d-flex justify-content-between">
    @for (planet of listOfPlanets; track planet) {
      <div class="cursor-pointer d-flex justify-content-center col-lg-1 col-md-2 col-3">
        <p class="text-white" (click)="loadComponent(planet)">
          {{ planet }}
        </p>
      </div>
    }
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-12">
      <ol>
        @for (planet of listOfPlanets; track planet) {
          <li class="{{planet?.toLowerCase()}}" [ngClass]="planetSelected == planet ? 'planet-selected'  : '' "></li>
        }
      </ol>
    </div>
    @if (planetSelected == Planets.SUN) {
      <app-sun-images></app-sun-images>
    }
    @if (planetSelected == Planets.MERCURY) {
      <app-mercury-images></app-mercury-images>
    }
    @if (planetSelected == Planets.VENUS) {
      <app-venus-images></app-venus-images>
    }
    @if (planetSelected == Planets.EARTH) {
      <app-earth-images></app-earth-images>
    }
    @if (planetSelected == Planets.MARS) {
      <app-mars-images></app-mars-images>
    }
    @if (planetSelected == Planets.JUPITER) {
      <app-jupiter-images></app-jupiter-images>
    }
    @if (planetSelected == Planets.SATURN) {
      <app-saturn-images></app-saturn-images>
    }
    @if (planetSelected == Planets.URANUS) {
      <app-uranus-images></app-uranus-images>
    }
    @if (planetSelected == Planets.NEPTUNE) {
      <app-neptune-images></app-neptune-images>
    }
  </div>
</div>
