<header>
  <nav class="px-3 navbar navbar-expand-md navbar-dark fixed-top bg-dark position-static">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="authors">Autori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="books">Libri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="books">Best-seller</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0 d-flex right-0 position-fixed">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success mx-2 my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<div style="padding-left:16px">
  <router-outlet></router-outlet>
</div>
