<div>
  <nav class="px-3 navbar navbar-expand-md navbar-dark fixed-top bg-nasa position-static">
    <a class="navbar-brand" routerLink="home">
      <img ngSrc="nasa-curiosity-logo.png" priority width="80" height="29" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="solar-system">Solar system</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mars-gallery">Mars Photos Gallery</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="position-relative overflow-x-hidden h-100vh">
<div class="star"></div>
  @for (star of stars; track $index) {
    <div class="meteor-{{$index}} z-0"></div>
  }

  <router-outlet></router-outlet>
</div>

