<div class="container justify-content-center align-items-center d-flex mt-5">
  <div class="row d-flex justify-content-between w-100">
    <div class="col-1">
    </div>
    @for (planet of listOfPlanets; track planet) {
      <div class="col-1 cursor-pointer">
        <p class="text-white" (click)="loadComponent(planet)">
          {{planet}}
        </p>
      </div>
    }
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-sm-12">
      <ol>
        @for (planet of listOfPlanets; track planet) {
          <li class="{{planet?.toLowerCase()}}" [ngClass]="planetSelected == planet ? 'planet-selected'  : '' "></li>
        }
      </ol>
    </div>
    @if (uploadComponent) {
      <ng-container *ngComponentOutlet="uploadComponent"></ng-container>
    }
  </div>

</div>
