<div class="container">
  <div class="row justify-content-center mt-5">
    <h1 class="text-white text-center mb-5">Curiosity Rover</h1>
    <img ngSrc="curiosity.png" class="h-auto" priority width="1074" height="700" alt="">

    <h3 class="text-danger text-center mt-5">CHEMCAM CAMERA</h3>
    <app-mars-gallery-chemcam-list class="row mb-5 mt-2"></app-mars-gallery-chemcam-list>

    <h3 class="text-danger text-center">FHAZ CAMERA</h3>
    <app-mars-gallery-fhaz-list class="row mb-5 mt-2"></app-mars-gallery-fhaz-list>

    <h3 class="text-danger text-center">RHAZ CAMERA</h3>
    <app-mars-gallery-rhaz-list class="row mb-5 mt-2"></app-mars-gallery-rhaz-list>

    <h3 class="text-danger text-center">MARDI CAMERA</h3>
    <app-mars-gallery-mardi-list class="row mb-5 mt-2"></app-mars-gallery-mardi-list>
  </div>
</div>
